<div>
  <h1>Menções</h1>
  <table id='tweets' class='table table-bordered table-striped'>
    <tr>
      <th>Usuário</th>
      <th>Seguidores</th>
      <th>Tweet (<%= @tweets.count %>)</th>
      <th>RTs</th>
      <th>Likes</th>
      <th>Data</th>
    </tr>
    <%= render @tweets %>
  </table>
</div>
