<div>
  <h1>@locaweb menções</h1>
  <table id='tweets' class='table table-bordered table-striped'>
    <tr>
      <th>Usuário</th>
      <th>Seguidores</th>
      <th>Tweet (<%= @tweets.count %>)</th>
      <th></th>
    </tr>
    <% @tweets.each do |tweet| %>
      <%= render partial: 'tweet', locals: { tweet: tweet } %>
    <% end %>
  </table>
</div>
