<div>
  <h1>Top Mencionadores</h1>
  <table id='tweets' class='table table-bordered table-striped'>
    <tr>
      <th>Usuário</th>
      <th>Seguidores</th>
      <th>Tweet</th>
      <th>RTs</th>
      <th>Likes</th>
      <th>Data</th>
    </tr>
    <% if @tweets.any? %>
      <%= render @tweets %>
    <% else %>
      <tr>
       <td colspan='6'>Sem menções para analisar</td>
      </tr>
    <% end %>
  </table>
</div>
